@import url(http://fonts.googleapis.com/css?family=Roboto:300,100,400);
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, arial, sans-serif;
  font-weight: 300;
  color: black; }

.slide {
  width: 100%;
  height: 100%;
  text-align: center; }

.container {
  max-width: 800px;
  display: inline-block; }

h2 {
  text-align: center;
  padding-top: 10%; }

.title {
  text-align: center;
  background: #44454f; }
  .title h1 {
    color: #fefdfd;
    z-index: 10;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 60px;
    padding-top: 7%; }
  .title a {
    color: #fefdfd;
    text-decoration: none;
    display: inline-block;
    width: 80px;
    padding-left: 40px;
    padding-right: 40px; }
  .title .pj {
    display: block;
    z-index: 0;
    content: "";
    margin: 5% auto 0;
    width: 240px;
    height: 240px;
    border-radius: 320px;
    background: url(pjmacklinpic.png) no-repeat 0 0;
    background-size: 100%; }
  .title h3 {
    color: #fefdfd;
    font-size: 40px;
    padding-top: 5%; }

.about {
  text-align: center;
  background: #eb684a; }
  .about img {
    width: 140px;
    height: 100px;
    margin: 5% 6px 1%;
    display: inline-block;
    border: 1px solid #fefdfd; }
  .about q {
    float: right;
    clear: right;
    display: inline-block;
    width: 300px;
    margin: 1% 10px;
    height: 10%;
    background-color: #fefdfd; }
    .about q:before {
      content: ""; }
    .about q:after {
      content: ""; }
  .about p {
    width: 460px;
    height: 40%;
    margin: 1% 10px;
    background-color: #fefdfd; }

.contact {
  text-align: center;
  background: #e9a353; }
  .contact form {
    padding-top: 5%;
    display: inline-block;
    width: 460px;
    text-align: left; }
    .contact form input {
      vertical-align: middle;
      display: inline-block;
      margin: 1%;
      border: none;
      padding: 3px;
      outline: none; }
    .contact form .discover input:not(:first-child) {
      margin-right: 2px;
      margin-left: 20px; }
    .contact form .discover input[type=text] {
      margin-left: 5px; }
    .contact form textarea {
      margin: 1%;
      width: 460px;
      height: 20%;
      border: none;
      padding: 3px;
      outline: none; }
    .contact form button {
      margin: 1%;
      width: 80px;
      height: 25px;
      background: #44454F;
      border: 2px solid #fefdfd;
      border-radius: 10px;
      color: #fefdfd;
      outline: none; }
